# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Machine Learning
*.pkl
*.joblib
*.model

# Environment
.env
.DS_Store

# Node
node_modules/
npm-debug.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data
*.csv
data/raw/
logs/
